/**Styles for the slider control**/
.slider_title, .value_title{
	-fx-font-family:  arial, helvetica, sans-serif;
}

.slider_title{
	-fx-font-size: 27px;
	-fx-padding: 5 5 20 5;
}


.value_title, .text_input{	
	-fx-border-width: 20px;
}

.value_title{
	-fx-font-size: 14px;
}


.text_input{
	-fx-max-width: 50px;
}

/**Styles for ColorChooser */
.color{
	-fx-background-color: #000000;
	-fx-border-radius: 0;
	-fx-border-width: 1;
	-fx-background-insets: 10 10 10 10;

}

.color_text{
	-fx-font-size: 24px;
}

